/**
 * Copyright(c) afterloe.
 * ISC Licensed
 *
 * Authors:
 *	 afterloe <afterloeliu@jwis.cn> (http://blog.sina.com.cn/afterloe)
 *
 */
 html,body {
 	font-family: "Microsoft YaHei" ! important;
	cursor: default;
	min-width: 12.8em;
  margin:0;
  height: 100%
 }

.nav {
	background-color:#ffffff;
	height: 80px;
	text-align:center;
	border:none;
}

.nav_title {
	width: 243px;
	height:47px;
	position: relative;
	top: 10px;
	display: inline-block;
	background: url(/images/销售配置器.png) no-repeat;
}

.nav_logo {
	width: 140px;
	position:absolute;
	display: inline-block;
	top: 10px;
	left: 20px;
	height: 44px;
	background: url(/images/LOGO.png) no-repeat;
}

ul li{
	list-style: none;
}
