/**
 * tru.jwis.cn - /static/stylesheets/views.css
 *
 * Copyright(c) afterloe.
 * ISC Licensed
 *
 * Authors:
 *   afterloe <afterloeliu@jwis.cn> (http://blog.sina.com.cn/afterloe)
 */

.sellViews-addView {
    font-size: 18px;
    color: #666666;
    cursor: pointer;
}

.compareValues {
    border-radius: 0.5rem;
    background-color: #ffffff;
    margin-bottom: 1.5rem;
    min-height: 50em;
}

.compareKeys {
    font-size: 1.3em;
    margin-left: 1rem;
    margin-top: 2rem;
    color: #666666;
}

.compareKeys>span {
    display: -webkit-inline-box;
    margin-right: 8rem;
    padding: 0 0.8rem 0.5rem 2rem;
    cursor: pointer;
}

.compareActive {
    border-bottom: 0.3rem solid #dc3f14;
}

.sellViews-view {
    position: absolute;
    margin-top: 1.3rem;
    height: 15rem;
    width: 10rem;
}

.sellViews-view>img {
    width: 100%
}

.sellViews-item {
    border: 1px solid #e6e6e6;
    margin: 1rem 1rem 1rem 2rem;
    min-width: 25em;
    height: 16rem;
    border-radius: 0.5rem;
}

.sellViews-item:hover {
    border: 1px solid #dc3f14;
    cursor: pointer;
}

.sellViews-card {
    padding-left: 11rem;
    color: #333333;
    padding-top: 1rem;
}

.sellViews-pri {
    font-size: 18px;
}

.sellViews-info {
    font-size: 14px;
    margin: 0;
}

.sellViews-other {
    margin-top: 6rem;
    text-align: center;
    font-size: 12px;
}

.colorDisc {
    position: absolute;
    display: -webkit-inline-box;
    height: 3rem;
    width: 4rem;
    margin-left: 1rem;
}

.sellViews-btn {
    font-size: 15px;
    color: #dc3f14;
    margin: 0 2rem 0 2rem;
    cursor: pointer;
    font-weight: 700;
}

.sellViews-btn:hover {
}

.sellViews-form {
    border-radius: 0.5rem;
    position: absolute;
    margin-top: -55em;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.6);
    background: #ffffff;
    height: 18rem;
    margin-left: 24%;
}

.sellViews-clos {
    margin-top: 3rem;
}

.sellViews-clo {
    display: inherit;
    width: 31rem;
    font-size: 1.8rem;
    margin-top: 1em;
    padding-left: 2rem;
}

.sellViews-clo > input {
    border: none;
    background-color: #ffffff;
    border-bottom: 0.1rem solid #ccc;
    float: right;
    margin-right: 3rem;
    margin-left: 2rem;
}

.sellViews-key {
    line-height: 2.6rem;
}

/**
* public
*/

body {
    background-color: #e6e6e6
}
