include header

#body

include footer

script(type="text/javascript").
  function getData() {
    try {
      return JSON.parse(localStorage['compare']);
    } catch(error) {
      return [];
    }
  }
script(type="text/javascript" src="/javascripts/compare.js")
link(rel="stylesheet" href="/stylesheets/compare.css")
