//-
    create by afterloe , Copyright(c) afterloe. ISC Licensed
//- #footer(class="wrap7")

link(rel="stylesheet" href="/stylesheets/lib/Bootstrap.min.css")
link(rel="stylesheet" href="/stylesheets/public.css")
script(type="text/javascript" src="/javascripts/lib/react.min.js")
script(type="text/javascript" src="/javascripts/lib/react-dom.min.js")
script(type="text/javascript" src="/javascripts/lib/browser.min.js")
script(type="text/javascript" src="/javascripts/header.js")
//- script(type="text/babel" src="/javascripts/footer.js")
