include header

#body

include footer

script(type="text/javascript").
  sessionStorage['data'] = `!{JSON.stringify(locals)}`;
  function parseData() {
    try {
      return JSON.parse(sessionStorage['data']);
    } catch(error) {
      return null;
    }
  }
script(type="text/javascript" src="/javascripts/home.js")
link(rel="stylesheet" href="/stylesheets/home.css")
