include header

#body(class="container")

include footer

script(type="text/javascript").
  localStorage['data'] = `!{JSON.stringify(locals)}`;
script(type="text/babel" src="/javascripts/home.js")
link(rel="stylesheet" href="/stylesheets/home.css")
