include header

#body

include footer

script(type="text/javascript" src="/javascripts/views.js")
// -script(type="text/babel" src="/src/views.js")
link(rel="stylesheet" href="/stylesheets/views.css")
